Would you like to validate an ISBN-10 or an ISBN-13?

<form method="post" action="/isbnchoose">
  <input type="radio" name="isbntype" value="ISBN-10"> ISBN-10<br>
  <input type="radio" name="isbntype" value="ISBN-13"> ISBN-13<br>
  <input type=submit>
</form>